@(message: String)
@loginPage.mainLogin("Login") {

    <div class="row">
        <div class="col-xs-12">
            <div class="centered">
                <img src="@routes.Assets.versioned("images/logo.png")" alt="Logo" />
            </div>
        </div>
    </div>
    @if(flash().containsKey("success")) {
        <div class="row">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-4">
                <div class="centered">
                    <div class="alert alert-success">
                        <strong>@flash().get("success")</strong>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">

            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
            <div class="centered">
                <a href="@routes.HomeController.homepage()"><button type="button" class="btn btn-primary text-center">Login</button></a>
                <a href="@routes.HomeController.createUser()"><button type="button" class="btn btn-primary text-center">Create User</button></a>
            </div>
        </div>
    </div>

}
