@loginPage.mainLogin("Login") {

    <div class="row">
        <div class="col-xs-12">
            <div class="centered">
                <img src="@routes.Assets.versioned("images/logo.png")" alt="Logo" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="centered">
                <a href="@routes.HomeController.homepage()"><button type="button" class="btn btn-primary text-center">Login</button></a>
            </div>
        </div>
    </div>

}
