@(user: models.users.User, logEntries: List[String])
@adminPages.mainAdmin("Admin Homepage", user){
  @if(flash.containsKey("success")){
    <div class="row">
      <div class="col-xs-4">
          <div class="alert alert-success">
            <strong>@flash().get("success")</strong>
          </div>
      </div>
    </div>
  }
  <div class="row">
    <div class="col-lg-12">
      <h1>Welcome back Admin @user.getFname @user.getLname</h1>
      <h2>Today's Activity:</h2>
      <hr />
    </div>
    <div class="col-lg-12">
      @if(logEntries.size() == 0){
        <h2>No log entries today</h2>
      }else {
        @for(entry <- logEntries) {
          <p>@entry</p>
        }
      }
    </div>
    <div class="col-lg-12">
      <a href="@routes.AdminController.viewFullLog()"><button class="btn btn-primary">View Full Log</button></a>
    </div>

  </div>
}