@(consultant: models.users.Consultant, appointmentList: List[models.Appointment])
@consultantPages.mainConsultant("Consultant Homepage", consultant) {
    <div class="row">
        <div class="col-lg-5">
        @if(flash().containsKey("error")) {
            <div class="alert alert-warning">
                <strong>@flash().get("error")</strong>
                <a href="@routes.ConsultantController.declareSpecialisation()"><button class="btn btn-primary">Declare</button></a>
            </div>
        }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="well">
                <h1><span class="blueText">Welcome back</span> Dr @consultant.getLname. </h1>
                @if(consultant.getSpecialization != null) {
                    <h1><span class="blueText">Your specialisation is:</span> @consultant.getSpecialization</h1>
                    <a href="@routes.ConsultantController.declareSpecialisation()">
                        Update Specialisation</a>
                }
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Your Appointments: </h1>
            <hr />
        </div>
    </div>

    <div class="row">
            @if(appointmentList.size() == 0){
                <div class="col-lg-12">
                    <h2>No appointments.</h2>
                </div>
            }else{
                @for(a <- appointmentList){
                    <div class="col-lg-3">
                        <div class="well">
                            <h3><span class="blueText">Patient:</span> @a.getP.getfName() @a.getP.getlName()</h3>
                            <h3><span class="blueText">Date:</span> @a.getFormattedAppDate(a.getAppDate)</h3>
                            <h3><span class="blueText">Time:</span> @a.getFormattedAppTime(a.getAppDate)</h3>
                            <a href="@routes.HomeController.appointmentMain(a.getId)"><button class="btn btn-primary">More Info</button></a>
                        </div>
                    </div>
                }
            }
    </div>


}