@(user: models.users.User, appointmentList: List[models.Appointment])
@consultantPages.mainConsultant("Consultant Homepage", user) {
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome back Dr @user.getLname. </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Your Appointments: </h1>
            <hr />
        </div>
    </div>

    <div class="row">
            @if(appointmentList.size() == 0){
                <div class="col-lg-12">
                    <h2>No appointments.</h2>
                </div>
            }else{
                @for(a <- appointmentList){
                    <div class="col-lg-3">
                        <div class="well">
                            <h3><span class="blueText">Patient:</span> @a.getP.getfName() @a.getP.getlName()</h3>
                            <h3><span class="blueText">Date:</span> @a.getFormattedAppDate(a.getAppDate)</h3>
                            <h3><span class="blueText">Time:</span> @a.getFormattedAppTime(a.getAppDate)</h3>
                            <a href="@routes.HomeController.appointmentMain(a.getId)"><button class="btn btn-primary">More Info</button></a>
                        </div>
                    </div>
                }
            }
    </div>


}