@(consultant: models.users.Consultant)
@consultantPages.mainConsultant("Update Specialisation", consultant) {
  <div class="row">
    <div class="col-lg-3">
      <h2>Update Specialisation</h2>
      <hr />
      <form method="post" action="@routes.ConsultantController.declareSecialisationSubmit()" class="form-horizontal">
        <input type="hidden" name="id" value="@consultant.getIdNum" />
        @if(consultant.getSpecialization == null){
          <input type="text" name="specialisation" placeholder="Enter Specialisation" class="form-control" id="margBot"/>
        }else{
          <input type="text" name="specialisation" value="@consultant.getSpecialization" placeholder="Enter Specialisation" id="margBot" class="form-control" />
        }

        <input type="submit" value="Update Specialisation" class="btn btn-primary" />
        <a href="@routes.ConsultantController.consultantHomePage()"><button class="btn btn-warning">Cancel</button></a>
      </form>
    </div>
  </div>
}