@(user: models.users.User, appointment: models.Appointment)
@if(user.checkRole().equals("Admin")) {
  @adminPages.mainAdmin("View Patient", user) {
      @if(flash().containsKey("error")) {
          <div class="row">
              <div class="col-xs-5">
                  <div class="alert alert-warning">
                      <strong>@flash().get("error")</strong>
                  </div>
              </div>
          </div>
      }
      @if(flash().containsKey("success")) {
          <div class="row">
              <div class="col-xs-5">
                  <div class="alert alert-success">
                      <strong>@flash().get("success")</strong>
                  </div>
              </div>
          </div>
      }
      <div class="row">
        <div class="col-lg-12">
          <h1>Consultant: Dr. @appointment.getC().getLname</h1>
          <h1>Patient: @appointment.getP().getfName() @appointment.getP().getlName()</h1>
          <h1>MRN: @appointment.getP().getMrn()</h1>
          <h1>Illness: @appointment.getP().getPrevIllnesses()</h1>
            <h1>Using: @appointment.getE().getType()</h1>
        </div>
      </div>

      <input style="margin-bottom: 30px;" type="button" id="margBot" class="btn btn-primary" onclick="unhide(this, 'form') " value="Rechedule Appointment">

      <div id="form" class="hidden">
          <form method = "post" action="@routes.HomeController.rescheduleAppointment(appointment.getId)" class="form-horizontal">
              <label>Date (YYYY-MM-DD): </label>
              <input type="date" id="appDate" name="appDate" dataformatas="yyyy-dd-MM" />
              <label>Time: </label>
              <select id="hours" name="hours">
                  <option id="06">06</option><option id="07">07</option><option id="08">08</option><option id="09">09</option><option id="10">10</option><option id="11">11</option>
                  <option id="12">12</option><option id="13">13</option><option id="14">14</option><option id="15">15</option><option id="16">16</option><option id="17">17</option>
                  <option id="18">18</option><option id="19">19</option><option id="20">20</option>
              </select>
              <select style="margin-bottom: 10px;" id="minutes" name="minutes">
                  <option id="00">00</option><option id="30">30</option>
              </select>
              <div class="actions">
                  <input type="submit" value="Reschedule" class="btn btn-primary">
              </div>
          </form>
          <script>
                  function confirmDel() {
                      return confirm('Are you sure?');
                  }
          </script>
      </div>
    }
  }
@if(user.checkRole().equals("Consultant")){
  @consultantPages.mainConsultant("View Patient", user) {
      @if(flash().containsKey("success")) {
          <div class="row">
              <div class="col-xs-5">
                  <div class="alert alert-success">
                      <strong>@flash().get("success")</strong>
                  </div>
              </div>
          </div>
      }
      @if(flash().containsKey("error")) {
          <div class="row">
              <div class="col-xs-5">
                  <div class="alert alert-success">
                      <strong>@flash().get("error")</strong>
                  </div>
              </div>
          </div>
      }
    <div class="row">
      <div class="col-lg-12">
        <h1>Consultant: Dr. @appointment.getC().getLname</h1>
        <h1>Patient: @appointment.getP().getfName() @appointment.getP().getlName()</h1>
        <h1>MRN: @appointment.getP().getMrn()</h1>
        <h1>Illness: @appointment.getP().getPrevIllnesses()</h1>
          <h1>Using: @appointment.getE().getType()</h1>

      </div>
    </div>
      <input style="margin-bottom: 30px;" type="button" id="margBot" class="btn btn-primary" onclick="unhide(this, 'form') " value="Reschedule Appointment">

      <div id="form" class="hidden">
      <form method = "post" action="@routes.HomeController.rescheduleAppointment(appointment.getId)" class="form-horizontal">
          <input type="date" id="appDate" name="appDate" dataformatas="yyyy-dd-MM" />
          <select id="hours" name="hours">
              <option id="06">06</option><option id="07">07</option><option id="08">08</option><option id="09">09</option><option id="10">10</option><option id="11">11</option>
              <option id="12">12</option><option id="13">13</option><option id="14">14</option><option id="15">15</option><option id="16">16</option><option id="17">17</option>
              <option id="18">18</option><option id="19">19</option><option id="20">20</option>
          </select>
          <select id="minutes" name="minutes">
              <option id="00">00</option><option id="30">30</option>
          </select>
          <div class="actions">
              <input type="submit" value="Reschedule" class="btn btn-primary">
          </div>
          <a href="@routes.HomeController.cancelAppointment(appointment.getId)"><button type="button" class="btn btn-primary text-center" onclick="return confirmDel()";>Cancel Appointment</button></a>
      </form>
          <script>
                  function confirmDel() {
                      return confirm('Are you sure?');
                  }
          </script>
      </div>
  }
  }
