@(user: models.users.User, appointment: models.Appointment)
@if(user.checkRole().equals("Admin")) {
  @adminPages.mainAdmin("View Patient", user) {
      @if(flash().containsKey("success")) {
          <div class="row">
              <div class="col-xs-5">
                  <div class="alert alert-success">
                      <strong>@flash().get("success")</strong>
                  </div>
              </div>
          </div>
      }
      @if(flash().containsKey("error")) {
          <div class="row">
              <div class="col-xs-5">
                  <div class="alert alert-warning">
                      <strong>@flash().get("error")</strong>
                  </div>
              </div>
          </div>
      }
      <div class="row">
          <div class="col-lg-5">
              <div class="well">
                  <h1><span class="blueText">Consultant:</span> Dr. @appointment.getC().getLname</h1>
                  <h2><span class="blueText">Speciality:</span> </h2>
                  <h2><span class="blueText">Email:</span> @user.getEmail</h2>

              </div>
          </div>
          <div class="col-lg-4">
              <div class="well">
                  <h1><span class="blueText">Patient:</span> @appointment.getP().getfName() @appointment.getP().getlName()</h1>
                  <h2><span class="blueText">MRN:</span> @appointment.getP().getMrn()</h2>
                  <h2><span class="blueText">Illness:</span> @appointment.getP().getIllness()</h2>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-9">
              <div class="well">
                  <h1>
                      <span class="blueText">Using:</span> <span class="smallText">@appointment.getE().getType()
                      on the @appointment.getFormattedAppDate(appointment.getAppDate)
                      at @appointment.getFormattedAppTime(appointment.getAppDate)</span>
                  </h1>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <a href="@routes.HomeController.cancelAppointment(appointment.getId)">
                  <button id ="margBot" type="button" class="btn btn-danger text-center" onclick="return confirmDel()";>Cancel Appointment</button>
              </a>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-6">
              <input type="button" id="margBot" class="btn btn-primary" onclick="unhide(this, 'form') " value="Reschedule Appointment">
          </div>
      </div>

      <div id="form" class="hidden">
          <form method = "post" action="@routes.HomeController.rescheduleAppointment(appointment.getId)" class="form-horizontal">
              <input type="date" id="appDate" name="appDate" dataformatas="yyyy-dd-MM" value="YYYY-MM-DD"/>
              <select id="hours" name="hours">
                  <option id="06">06</option><option id="07">07</option><option id="08">08</option><option id="09">09</option><option id="10">10</option><option id="11">11</option>
                  <option id="12">12</option><option id="13">13</option><option id="14">14</option><option id="15">15</option><option id="16">16</option><option id="17">17</option>
                  <option id="18">18</option><option id="19">19</option><option id="20">20</option>
              </select>
              <select name="minutes" id="margBot">
                  <option id="00">00</option><option id="30">30</option>
              </select>
              <div class="row">
                  <div class="col-xs-1">
                      <div class="actions">
                          <input type="submit" value="Reschedule" class="btn btn-primary">
                      </div>
                  </div>
              </div>

          </form>
          <script>
                  function confirmDel() {
                      return confirm('Are you sure?');
                  }
          </script>
      </div>
    }
  }
@if(user.checkRole().equals("Consultant")){
  @consultantPages.mainConsultant("View Patient", user) {
      @if(flash().containsKey("success")) {
          <div class="row">
              <div class="col-xs-5">
                  <div class="alert alert-success">
                      <strong>@flash().get("success")</strong>
                  </div>
              </div>
          </div>
      }
      @if(flash().containsKey("error")) {
          <div class="row">
              <div class="col-xs-5">
                  <div class="alert alert-warning">
                      <strong>@flash().get("error")</strong>
                  </div>
              </div>
          </div>
      }
      <div class="row">
          <div class="col-lg-5">
              <div class="well">
                  <h1><span class="blueText">Consultant:</span> Dr. @appointment.getC().getLname</h1>
                  <h2><span class="blueText">Speciality:</span> </h2>
                  <h2><span class="blueText">Email:</span> @user.getEmail</h2>

              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
          <a href="@routes.ConsultantController.completeAppointment(appointment.getId)"><button type="button" class="btn btn-primary text-center">
              Complete Appointment</button></a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="well">
                  <h1><span class="blueText">Patient:</span> @appointment.getP().getfName() @appointment.getP().getlName()</h1>
                  <h2><span class="blueText">MRN:</span> @appointment.getP().getMrn()</h2>
                  <h2><span class="blueText">Illness:</span> @appointment.getP().getIllness()</h2>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-9">
              <div class="well">
                  <h1>
                      <span class="blueText">Using:</span> <span class="smallText">@appointment.getE().getType()
                      on the @appointment.getFormattedAppDate(appointment.getAppDate)
                      at @appointment.getFormattedAppTime(appointment.getAppDate)</span>
                  </h1>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <a href="@routes.HomeController.cancelAppointment(appointment.getId)">
                  <button id ="margBot" type="button" class="btn btn-danger text-center" onclick="return confirmDel()";>Cancel Appointment</button>
              </a>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-6">
              <input type="button" id="margBot" class="btn btn-primary" onclick="unhide(this, 'form') " value="Reschedule Appointment">
          </div>
      </div>

      <div id="form" class="hidden">
      <form method = "post" action="@routes.HomeController.rescheduleAppointment(appointment.getId)" class="form-horizontal">
          <input type="date" id="appDate" name="appDate" dataformatas="yyyy-dd-MM" value="YYYY-MM-DD"/>
          <select id="hours" name="hours">
              <option id="06">06</option><option id="07">07</option><option id="08">08</option><option id="09">09</option><option id="10">10</option><option id="11">11</option>
              <option id="12">12</option><option id="13">13</option><option id="14">14</option><option id="15">15</option><option id="16">16</option><option id="17">17</option>
              <option id="18">18</option><option id="19">19</option><option id="20">20</option>
          </select>
          <select name="minutes" id="margBot">
              <option id="00">00</option><option id="30">30</option>
          </select>
          <div class="row">
              <div class="col-xs-1">
                  <div class="actions">
                      <input type="submit" value="Reschedule" class="btn btn-primary">
                  </div>
              </div>
          </div>

      </form>
          <script>
                  function confirmDel() {
                      return confirm('Are you sure?');
                  }
          </script>
      </div>
    }
  }
