@(user: models.users.User, patient: models.Patient)
@if(user.checkRole().equals("Consultant")) {
  @consultantPages.mainConsultant("View Patient", user) {
    @if(patient.getMrn == null) {
      <h1>No patient selected</h1>
    } else {
      <div class="row">
        <div class="col-lg-4">
          <div class="well">
            <h1><span class="blueText">MRN:</span> @patient.getMrn()</h1>
            <h1><span class="blueText">Name:</span> @patient.getfName() @patient.getlName()</h1>
          </div>

        </div>
      </div>
        <h2>Chart Information</h2>
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>Chart Id</th>
              <th>Ward</th>
              <th>Date Of Admittance</th>
              <th>Date Of Discharge</th>
              <th>Meal Plan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="numeric">@patient.getCurrentChart.getChartId</td>
              <td>@patient.getCurrentChart.getCurrentWard</td>
              <td>@patient.getCurrentChart.getDateOfAdmittance</td>
              <td>@patient.getCurrentChart.getDischargeDate</td>
              <td>@patient.getCurrentChart.getMealPlan</td>
            </tr>
          </tbody>
        </table>
      @if(patient.getAppointmentsDue.size() != 0) {
        <h2>Appointment Information</h2>
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>Date</th>
              <th>Consultant</th>
            </tr>
          </thead>
          <tbody>
          @for(a <- patient.getAppointmentsDue) {
            <tr>
              <td class="numeric">@a.getAppDate</td>
              <td>Dr. @a.getC.getLname</td>
              <td><a href="@routes.HomeController.appointmentMain(a.getId)">View Appointment</a></td>
            </tr>
          }
          </tbody>
        </table>
      }
        <p>Are you sure you wish to discharge this patient?</p>
      <div class="row">
        <div class="col-lg-12">
          <a href="@routes.ConsultantController.dischargePatient()"><button type="button" class="btn btn-primary text-center">
            Confirm Discharge</button></a>
            <a href="@routes.HomeController.viewPatientByID(patient.getMrn)"><button type="button" class="btn btn-primary text-center">Cancel</button></a>
        </div>
      </div>

    }
  }
}