@mainTemplate.main("Home Page") {
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="well" id="margTop">
                  <p>Appointment 1</p>
              </div>

          </div>
          <div class="col-md-4">
              <div class="well" id="margTop">
                  <p>Appointment 2</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="well" id="margTop">
                  <p>Appointment 3</p>
              </div>
          </div>
      </div>

  </div>




}