@(addAppointmentForm: Form[models.Appointment], consultantlist: List[models.users.Consultant], user: models.users.User, patient: models.Patient, equipmentlist: List[models.Equipment],error: String)
@import helper._
@if(user.checkRole().equals("Admin")) {
  @adminPages.mainAdmin("Add Appointment", user) {
      @if(error != null){
          <div class="alert alert-warning">
              <strong>@error</strong>
          </div>
      }
    @if(patient.getMrn == null){
      <h1>No patient selected</h1>
    }else{
        <div class="row">
            <div class="col-lg-12">
                <h1>MRN: @patient.getMrn()</h1>
                <h1>Name: @patient.getfName() @patient.getlName()</h1>
                <label>Appointment Date, Time and Consultant</label>
                <!-- Be sure to change id to value. Value is what gets included in the POST request to the method -->
                <form method = "post" action="@routes.HomeController.addAppointmentSubmit()" class="form-horizontal">
                    <input type="date" id="appDate" name="appDate" value="YYYY-MM-DD" dataformatas="yyyy-dd-MM" />
                    <select id="margBot" name="hours">
                        <option id="06">06</option><option id="07">07</option><option id="08">08</option><option id="09">09</option><option id="10">10</option><option id="11">11</option>
                        <option id="12">12</option><option id="13">13</option><option id="14">14</option><option id="15">15</option><option id="16">16</option><option id="17">17</option>
                        <option id="18">18</option><option id="19">19</option><option id="20">20</option>
                    </select>
                    <select id="minutes" name="minutes">
                        <option id="00">00</option><option id="30">30</option>
                    </select>
                    <select id="consultant" name="consultant">
                        <option value="select">--- Please Select ---</option>
                        @for(c <- consultantlist){
                            <option value="@c.getIdNum">@c.getFname @c.getLname</option>
                        }
                    </select>
                    <select id="equipment" name="equipment">
                        <option value="select">--- Please Select ---</option>
                        @for(e <- equipmentlist){
                            <option value="@e.getEquipId">@e.getType</option>
                        }
                    </select>
                    <div class="actions">
                        <input type="submit" value="Add Appointment" class="btn btn-primary">
                        <a href="@routes.HomeController.viewPatientByID(patient.getMrn)"><button type="button" class="btn btn-primary text-center">Cancel</button></a>
                    </div>
                </form>
            }

  }
}

@if(user.checkRole().equals("Consultant")){
  @consultantPages.mainConsultant("Add Appointment", user) {
      @if(error != null){
          <div class="alert alert-warning">
              <strong>@error</strong>
          </div>
      }
    @if(patient.getMrn == null){
      <h1>No patient selected</h1>
    }else{
        <div class="row">
            <div class="col-lg-3">
                <div class="well">
                    <h1><span class="blueText">MRN:</span> @patient.getMrn()</h1>
                    <h1><span class="blueText">Name:</span> @patient.getfName() @patient.getlName()</h1>
                </div>
                    <!-- Be sure to change id to value. Value is what gets included in the POST request to the method -->
                <form method = "post" action="@routes.HomeController.addAppointmentSubmit()" class="form-horizontal">
                    <label>Appointment Date</label>
                    <input type="date" id="appDate" name="appDate" value="YYYY-MM-DD" dataformatas="yyyy-dd-MM" class="form-control"/>
                    <label id="margTop">Time</label><br />
                    <select id="hours" name="hours">
                        <option id="06">06</option><option id="07">07</option><option id="08">08</option><option id="09">09</option><option id="10">10</option><option id="11">11</option>
                        <option id="12">12</option><option id="13">13</option><option id="14">14</option><option id="15">15</option><option id="16">16</option><option id="17">17</option>
                        <option id="18">18</option><option id="19">19</option><option id="20">20</option>
                    </select>
                    <select id="minutes" name="minutes">
                        <option id="00">00</option><option id="30">30</option>
                    </select>
                    <br />
                    <label id="margTop">Consultant</label>
                    <select name="consultant" class="form-control">
                        @if(patient.getC != null){
                            <option value="@patient.getC.getIdNum">@patient.getC().getFname @patient.getC().getLname
                            </option>
                        }else {
                            <option value="select">--- Please Select ---</option>
                            @for(c <- consultantlist) {
                                <option value="@c.getIdNum">@c.getFname @c.getLname</option>
                            }
                        }
                    </select>

                    <label id="margTop">Equipment</label>
                    <select id="margBot" name="equipment" class="form-control">
                        <option value="select">--- Please Select ---</option>
                        @for(e <- equipmentlist){
                            <option value="@e.getEquipId">@e.getType</option>
                        }
                    </select>
                    <div class="actions">
                        <input type="submit" value="Add Appointment" class="btn btn-primary">
                        <a href="@routes.HomeController.viewPatientByID(patient.getMrn)"><button type="button" class="btn btn-primary text-center">Cancel</button></a>
                    </div>
                </form>
                }

}
}