@(addAppointmentForm: Form[models.Appointment], consultantlist: List[models.users.Consultant], user: models.users.User, patient: models.Patient, error: String)
@import helper._
@if(user.checkRole().equals("Admin")) {
  @adminPages.mainAdmin("Add Appointment", user) {
      @if(error != null){
          <div class="alert alert-warning">
              <strong>@error</strong>
          </div>
      }
    @if(patient.getMrn == null){
      <h1>No patient selected</h1>
    }else{
        <div class="row">
            <div class="col-lg-12">
                <h1>MRN: @patient.getMrn()</h1>
                <h1>Name: @patient.getfName() @patient.getlName()</h1>
                @helper.form(action = controllers.routes.HomeController.addAppointmentSubmit(), 'class -> "form-horizontal", 'role -> "form") {
                    @inputDate(addAppointmentForm("appDate"), '_label -> "Appointment Date", '_help -> "format yyyy-dd-MM", 'class -> "form-control")
                    @select(addAppointmentForm("hours"), options("select" -> "--- Please Select ---", "00" -> "00", "01" -> "01", "02" -> "02", "03" -> "03"
                        , "04" -> "04", "05" -> "05", "06" -> "06", "07" -> "07", "08" -> "08", "09" -> "09", "10" -> "10", "11" -> "11", "12" -> "12"
                        , "13" -> "13", "14" -> "14", "15" -> "15", "16" -> "16", "17" -> "17", "18" -> "18", "19" -> "19", "20" -> "20"
                        , "21" -> "21", "22" -> "22", "23" -> "23"), '_label -> "Time(Hours)")
                    @select(addAppointmentForm("minutes"), options("select" -> "--- Please Select ---", "00" -> "00", "30" -> "30"), '_label -> "Time(Minutes)")
                    @for(c <- consultantlist){
                        @select(addAppointmentForm("consultant"), options("select" -> "--- Please Select ---", c.getIdNum -> c.getFname), '_label -> "Select a Consultant to book an appointment with.")
                    }
                </div>
        </div>
        <div class="actions">
            <input type="submit" value="Add Appointment" class="btn btn-primary">
            <a href="@routes.HomeController.viewPatientByID(patient.getMrn)"><button type="button" class="btn btn-primary text-center">Cancel</button></a>
        </div>
    }
    }

  }
}

@if(user.checkRole().equals("Consultant")){
  @consultantPages.mainConsultant("Add Appointment", user) {
      @if(error != null){
          <div class="alert alert-warning">
              <strong>@error</strong>
          </div>
      }
    @if(patient.getMrn == null){
      <h1>No patient selected</h1>
    }else{
        <div class="row">
            <div class="col-lg-12">
                <h1>MRN: @patient.getMrn()</h1>
                <h1>Name: @patient.getfName() @patient.getlName()</h1>
                    @helper.form(action = controllers.routes.HomeController.addAppointmentSubmit(), 'class -> "form-horizontal", 'role -> "form") {
                        @inputDate(addAppointmentForm("appDate"), '_label -> "Appointment Date", '_help -> "format yyyy-dd-MM", 'class -> "form-control")
                            @select(addAppointmentForm("hours"), options("select" -> "--- Please Select ---", "00" -> "00", "01" -> "01", "02" -> "02", "03" -> "03"
                                , "04" -> "04", "05" -> "05", "06" -> "06", "07" -> "07", "08" -> "08", "09" -> "09", "10" -> "10", "11" -> "11", "12" -> "12"
                                , "13" -> "13", "14" -> "14", "15" -> "15", "16" -> "16", "17" -> "17", "18" -> "18", "19" -> "19", "20" -> "20"
                                , "21" -> "21", "22" -> "22", "23" -> "23"), '_label -> "Time(Hours)")
                            @select(addAppointmentForm("minutes"), options("select" -> "--- Please Select ---", "00" -> "00", "30" -> "30"), '_label -> "Time(Minutes)")
                            @for(c <- consultantlist){
                                    @select(addAppointmentForm("consultant"), options("select" -> "--- Please Select ---", c.getIdNum -> c.getFname), '_label -> "Select a Consultant to book an appointment with.")
                        }
            </div>
        </div>
        <div class="actions">
            <input type="submit" value="Add Appointment" class="btn btn-primary">
            <a href="@routes.HomeController.viewPatientByID(patient.getMrn)"><button type="button" class="btn btn-primary text-center">Cancel</button></a>
        </div>
    }
    }

  }
}