@(user: models.users.User, patient: models.Patient)
@if(user.checkRole().equals("Admin")) {
  @adminPages.mainAdmin("View Patient", user) {
      @if(patient.getMrn == null) {
          <h1>No patient selected</h1>
      } else {
          <div class="row">
              <div class="col-lg-6">
              @if(flash().containsKey("success")) {
                  <div class="alert alert-success">
                      <strong>@flash().get("success")</strong>
                  </div>
              }
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="well">
                      <h1><span class="blueText">MRN:</span> @patient.getMrn()</h1>
                      <h1><span class="blueText">Name:</span>  @patient.getfName() @patient.getlName()</h1>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <a href="#"><button type="button" class="btn btn-primary text-center">Add Consultant</button></a>
                  <a href="@routes.HomeController.makeAppointment()"><button type="button" class="btn btn-primary text-center">
                      Make Appointment</button></a>
              </div>
          </div>
          @if(patient.getChart() != null) {
              <div class="row">
                  <div class="col-lg-12">
                      <h2>Chart Information</h2>
                      <hr />
                  </div>
              </div>
              <table class="table table-bordered table-hover table-condensed">
                  <thead>
                      <tr>
                          <th>Chart Id</th>
                          <th>Ward</th>
                          <th>Date Of Admittance</th>
                          <th>Date Of Discharge</th>
                          <th>Meal Plan</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="numeric">@patient.getChart.getChartId</td>
                          <td>@patient.getChart.getCurrentWard</td>
                          <td>@patient.getChart.getDateOfAdmittance</td>
                          <td>@patient.getChart.getDischargeDate</td>
                          <td>@patient.getChart.getMealPlan</td>
                      </tr>
                  </tbody>
              </table>
              @if(patient.getChart.getPrescriptionList.size != 0){
                  <table class="table table-bordered table-hover table-condensed">
                      <thead>
                          <tr>
                              <th>Medicine</th>
                              <th>Dosage</th>
                              <th>To Be Taken</th>
                          </tr>
                      </thead>
                      <tbody>
                      @for(pr <- patient.getChart.getPrescriptionList) {
                          <tr>
                              <td>@pr.getMedicine.getName</td>
                              <td>@pr.getDosage@pr.getMedicine.getUnitOfMeasurement</td>
                              <td>@pr.getDosage</td>
                          </tr>
                      }
                      </tbody>
                  </table>
              }
          }

          @if(patient.getAppointments.size() != 0) {
              <div class="row">
                  <div class="col-lg-12">
                      <h2>Appointment Information</h2>
                      <hr />
                  </div>
              </div>
              <table class="table table-bordered table-hover table-condensed">
                  <thead>
                      <tr>
                          <th>Date</th>
                          <th>Consultant</th>
                      </tr>
                  </thead>
                  <tbody>
                  @for(a <- patient.getAppointments) {
                      <tr>
                          <td class="numeric">@a.getAppDate</td>
                          <td>Dr. @a.getC.getLname</td>
                          <td><a href="@routes.HomeController.appointmentMain(a.getId)">View Appointment</a></td>
                      </tr>
                  }
                  </tbody>
              </table>
          }

      }

  }
}

@if(user.checkRole().equals("Consultant")) {
    @consultantPages.mainConsultant("View Patient", user) {
        @if(patient.getMrn == null) {
            <h1>No patient selected</h1>
        } else {
            <div class="row">
                <div class="col-lg-6">
                @if(flash().containsKey("success")) {
                    <div class="alert alert-success">
                        <strong>@flash().get("success")</strong>
                    </div>
                }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="well">
                        <h1><span class="blueText">MRN:</span> @patient.getMrn()</h1>
                        <h1><span class="blueText">Name:</span>  @patient.getfName() @patient.getlName()</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="margBotSmall">
                        <a href="#"><button type="button" class="btn btn-primary text-center">Add Consultant</button></a>
                        <a href="@routes.HomeController.makeAppointment()"><button type="button" class="btn btn-primary text-center">
                            Make Appointment</button></a>
                    </div>
                    <br />
                    <a href="@routes.HomeController.makePrescription()"><button type="button" class="btn btn-primary text-center">
                        Add Prescription</button></a>
                    @if(patient.getChart() == null) {
                        <a href="@routes.HomeController.admitPatient"><button type="button" class="btn btn-primary text-center">
                            Admit Patient</button></a>
                    } else {
                        <a href="@routes.HomeController.discharge"><button type="button" class="btn btn-warning text-center">
                            Discharge Patient</button></a>
                    }
                </div>

            </div>
            @if(patient.getChart() != null) {
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Chart Information</h2>
                        <hr />
                    </div>
                </div>
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Chart Id</th>
                            <th>Ward</th>
                            <th>Date Of Admittance</th>
                            <th>Date Of Discharge</th>
                            <th>Meal Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="numeric">@patient.getChart.getChartId</td>
                            <td>@patient.getChart.getCurrentWard</td>
                            <td>@patient.getChart.getDateOfAdmittance</td>
                            <td>@patient.getChart.getDischargeDate</td>
                            <td>@patient.getChart.getMealPlan</td>
                        </tr>
                    </tbody>
                </table>
                @if(patient.getChart.getPrescriptionList.size != 0){
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Medicine</th>
                                <th>Dosage</th>
                                <th>To Be Taken</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(pr <- patient.getChart.getPrescriptionList) {
                            <tr>
                                <td>@pr.getMedicine.getName</td>
                                <td>@pr.getDosage@pr.getMedicine.getUnitOfMeasurement</td>
                                <td>@pr.getDosage</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            }
            @if(patient.getAppointments.size() != 0) {
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Appointment Information</h2>
                        <hr />
                    </div>
                </div>
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Consultant</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(a <- patient.getAppointments) {
                        <tr>
                            <td class="numeric">@a.getAppDate</td>
                            <td>Dr. @a.getC.getLname</td>
                            <td><a href="@routes.HomeController.appointmentMain(a.getId)">View Appointment</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            }

        }
    }
}