@(user: models.users.User, appointmentList: List[models.Appointment])
@if(user.checkRole().equals("Consultant")){
  @consultantPages.mainConsultant("View Appointments", user) {
    <div class="row">
      <div class="col-lg-6">
        @if(flash().containsKey("success")) {
          <div class="alert alert-success">
            <strong>@flash().get("success")</strong>
          </div>
        }
      </div>
    </div>
    @if(appointmentList.size() == 0){
      <h1>No Appointments</h1>
    }else{
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>MRN</th>
                <th>Profile</th>
              </tr>
            </thead>
            <tbody>
            @for(a <- appointmentList) {
              <tr>
                <td class="numeric">@a.getAppDate</td>
                <td>@a.getP.getfName() @a.getP.getlName()</td>
                <td>@a.getP.getMrn</td>
                <td><a href="@routes.HomeController.appointmentMain(a.getId)">View Appointment</a></td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    }

  }
}