@(user: models.users.User, patient: models.Patient)
@if(user.checkRole().equals("Admin")) {
  @adminPages.mainAdmin("View Patient", user) {
    @if(patient.getMrn == null){
      <h1>No patient selected</h1>
    }else{
      <div class="row">
        <div class="col-lg-12">
          <h1>MRN: @patient.getMrn()</h1>
          <h1>Name: @patient.getfName() @patient.getlName()</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <a href="#"><button type="button" class="btn btn-primary text-center">Add Consultant</button></a>
          <a href="@routes.HomeController.makeAppointment()"><button type="button" class="btn btn-primary text-center">Make Appointment</button></a>
        </div>
      </div>
    }

  }
}

@if(user.checkRole().equals("Consultant")){
  @consultantPages.mainConsultant("View Patient", user) {
    @if(patient.getMrn == null){
      <h1>No patient selected</h1>
    }else{
      <div class="row">
        <div class="col-lg-12">
          <h1>MRN: @patient.getMrn()</h1>
          <h1>Name: @patient.getfName() @patient.getlName()</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <a href="#"><button type="button" class="btn btn-primary text-center">Add Consultant</button></a>
          <a href="@routes.HomeController.makeAppointment()"><button type="button" class="btn btn-primary text-center">Make Appointment</button></a>
        </div>
      </div>
    }

  }
}